<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="Before" class="cn.dome1.BeforeAdvice"></bean>

    <bean id="service" class="cn.dome1.SomeServiceImpl"></bean>

    <bean id="some" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
        <property name="advice" ref="Before"></property>
       <property name="mappedNames" value="some"></property>
    </bean>
    <bean id="proxyService" class="org.springframework.aop.framework.ProxyFactoryBean"></bean>
</beans>