<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
   <bean id="service" class="cn.dome04.UserServiceImpl"></bean>

    <bean id="aspectj" class="cn.dome04.MyAspectj"></bean>

    <aop:config>
        <aop:pointcut id="aop" expression="execution(* *..dome04.*.*(..))"></aop:pointcut>
        <aop:aspect ref="aspectj">
            <!--<aop:before method="before" pointcut-ref="aop"></aop:before>-->
            <!--<aop:after-returning method="afterReturning" pointcut-ref="aop"></aop:after-returning>-->
            <!--<aop:around method="around" pointcut-ref="aop"></aop:around>-->
            <!--<aop:after-throwing method="afterThrow" pointcut-ref="aop"></aop:after-throwing>-->
            <aop:after method="after" pointcut-ref="aop"></aop:after>
        </aop:aspect>
    </aop:config>
</beans>